{{- define "main" }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end}}
{{ $paginator := .Paginate $pages }}
{{ $term := .Data.Term}}

<!---container for posts--->
<div class="band">
  {{- range $index, $page := $paginator.Pages }}
  {{- $class := "post-entry" }}
  {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) }}
  {{- $class = "first-entry" }}
  {{- else if $term }}
  {{- $class = "post-entry tag-entry" }}
  {{- end }}


  <!---recipe card--->
  <div class="item-{{ add $index 1 }}">
    <a href="{{ .Permalink }}" class="card">
      <div class="thumb">
        {{ with .Params.cover }}
        <img class="thumb-img" src="{{ .image | absURL }}" alt="Cover image for {{ $.Title }}" loading="lazy" decoding="async">
        {{ end }}
      </div>
      <article>
        <h1>{{ .Title }}</h1>
        <p>{{ .Summary | plainify | htmlUnescape }}</p>
        <span>{{ .Params.author }} &nbsp;&bull; {{ .PublishDate.Format "2 Jan '06" }}</span>
      </article>
    </a>
  </div>
  {{- end }}
</div>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev"  href="{{ printf "/page/%d/" (add $paginator.PageNumber -1) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{
      i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ printf "/page/%d/" (add $paginator.PageNumber 1) }}">{{ i18n "next_page" }}<i class="fa fa-arrow-right"
        aria-hidden="true"></i></a>
    {{- end }}
  </nav>
</footer>
{{- end }}
{{- end }}{{- /* end main */ -}}